.counts {
  font-size: 18px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(14, 197, 197);
  border-radius: 15px;
}
